# Env & Secrets
.env
.env.local
.env.production

# Python
pycache/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Database local (jaga2)
*.sqlite3

# Backup zip
backups/
*.zip

# QR payment images (kalo lo ga mau ke push)
qr/
